<footer class="col-md-12 col-sm-12 col-xs-12">
  <f:if condition="{showFooter}">
    <section class="footer-section">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-md-4">
            <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '10'}"/>
          </div>
          <div class="col-sm-4 col-md-4">
            <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '11'}"/>
          </div>
          <div class="col-sm-4 col-md-4">
            <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '12'}"/>
          </div>
        </div>
        <div class="row">
          <div>
            <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '13'}"/>
          </div>
        </div>
      </div>
    </section>
  </f:if>
  <f:if condition="{showMeta}">
    <section class="meta-section">
      <div class="container">
        <div class="row">
          <f:if condition="{settings.copyright.enable}">
            <div class="copyright" role="contentinfo">
              <f:format.html>{settings.copyright.text}</f:format.html>
            </div>
          </f:if>
        </div>
      </div>
    </section>
  </f:if>
</footer>